@page "/"

<PageTitle>Index</PageTitle>

<HxGrid TItem="GridDataRow" DataProvider="GetGridDataRowData" SelectionEnabled="false">
    <Columns>
        <HxGridColumn ItemTextSelector="@(context => context.Value)">
            <HeaderTemplate>
                <span>The Value</span>
            </HeaderTemplate>
        </HxGridColumn>
    </Columns>
</HxGrid>

@code {

    private async Task<GridDataProviderResult<GridDataRow>> GetGridDataRowData(GridDataProviderRequest<GridDataRow> request)
    {
        var results = new List<GridDataRow>
        {
            new GridDataRow { Value = "One" }
        };

        return await Task.FromResult(request.ApplyTo(results));
    }
}